assets/js/index.pug
dy

	nav.navbar.navbar-dark.bg-dark.navbar-expand-md
		a.navbar-brand(href="#") #[i(class="fa fa-codepen")] Codepen
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar")
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbar
			ul.navbar-nav.mr-auto
				li.nav-item.active
					a.nav-link(href="#") Home
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#dropdown01(href="#" data-toggle="dropdown") Dropdown
					.dropdown-menu(aria-labelledby="dropdown01")
						a.dropdown-item(href="#") Action
						a.dropdown-item(href="#") Another action
						a.dropdown-item(href="#") Something else here
			.my-2.my-md-0
				a.btn.btn-outline-warning(href="https://codepen.io/derekbtw/pen/MvxmQj") Download
	
	nav.navbar.navbar-expand-md.navbar-light.bg-light.rounded
		button.navbar-toggler(data-toggle="collapse" data-target="centerNavbar")
			span.navbar-toggler-icon
		.collapse.navbar-collapse.justify-content-md-center#centerNavbar
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href="#") Centered
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#dropdown02(href="#" data-toggle="dropdown") Dropdown
					.dropdown-menu
						a.dropdown-item(href="#") Action
						a.dropdown-item(href="#") Another action
						a.dropdown-item(href="#") Something else here
				
	.container
		.jumbotron
			.col-sm-8.mx-auto
				h1 Jumbotron
				p Just keep it short and to the point. Okay?
				p
					a.btn.btn-outline-secondary(href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank") View docs
					
	footer.footer
		.container
			span.text-muted &copy; 2017

assets/js/index.html
!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Pugstrap Starter Template</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>


<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md"><a class="navbar-brand" href="#"><i class="fa fa-codepen"></i> Codepen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdown01" href="#" data-toggle="dropdown">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
        </li>
      </ul>
      <div class="my-2 my-md-0"><a class="btn btn-outline-warning" href="https://codepen.io/derekbtw/pen/MvxmQj">Download</a></div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md navbar-light bg-light rounded">
    <button class="navbar-toggler" data-toggle="collapse" data-target="centerNavbar"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-center" id="centerNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="#">Centered</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdown02" href="#" data-toggle="dropdown">Dropdown</a>
          <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Jumbotron</h1>
        <p>Just keep it short and to the point. Okay?</p>
        <p><a class="btn btn-outline-secondary" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">View docs</a></p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container"><span class="text-muted">&copy; 2017</span></div>
  </footer>
</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>



</body>

</html>
